sudo: false

language: python

python:
  - "2.7"
  - "3.3"
  - "3.4"

matrix:
  include:
    - python: "2.7"
      env: MODE=flake8
  allow_failures:
    - env: MODE=flake8

cache:
  directories:
    - $HOME/.cache/pip

before_cache:
  - rm -f $HOME/.cache/pip/log/debug.log

# command to install dependencies
install:
    - pip install tox coveralls

after_success:
    - coveralls

# command to run tests
script:
    - coverage erase
    - tox -e py${TRAVIS_PYTHON_VERSION/./}${MODE}

